In [1]:
import os

os.getcwd()

'c:\\Repos\\smart-store-keiko\\notebooks'

In [2]:
import os

path = "../data/raw/customers_data.csv"
print("Exists?", os.path.exists(path))

Exists? True

In [ ]:
import pandas as pd

customers = pd.read_csv("../data/raw/customers_data.csv")
customers.head()

In [ ]:
with open("../data/raw/customers_data.csv", "r", encoding="utf-8") as f:
    for i in range(10):
        print(f.readline())

In [1]:
print("Notebook is running")

Notebook is running

In [2]:
import pandas as pd

customers = pd.read_csv("../data/raw/customers_data.csv")
customers.head()

   CustomerID           Name   Region    JoinDate
0        1000   Robert Gomez     West  2024-02-25
1        1001     John Silva     East  2020-12-01
2        1002  Mark Marshall  Central  2020-08-08
3        1003  David Brennan    North  2020-05-21
4        1004  Kerry Collins    North  2023-09-12

In [3]:
customers = pd.read_csv("../data/raw/customers_data.csv")
most_common_region = customers["Region"].value_counts().idxmax()
print("Most common customer location:", most_common_region)

Most common customer location: North

In [4]:
products = pd.read_csv("../data/raw/products_data.csv")
highest_price = products["UnitPrice"].max()
lowest_price = products["UnitPrice"].min()
print("Highest product price:", highest_price)
print("Lowest product price:", lowest_price)

Highest product price: 976.44
Lowest product price: 13.51

In [7]:
import pandas as pd

# Load the raw sales data
sales = pd.read_csv("../data/raw/sales_data.csv")

# Clean the SaleAmount column
# Step 1: Remove any non-numeric characters (like stray punctuation)
sales["SaleAmount"] = (
    sales["SaleAmount"]
    .astype(str)  # Ensure it's string for cleaning
    .str.replace(r"[^\d\.]", "", regex=True)  # Keep only digits and dots
)

# Step 2: Handle multiple dots (e.g., '2048.2321.8732' â†’ keep first valid float)
sales["SaleAmount"] = (
    sales["SaleAmount"]
    .str.extract(r"(\d+\.\d+)", expand=False)  # Extract first valid float pattern
    .astype(float)  # Convert to numeric
)

# Step 3: Compute stats
avg_sales = sales["SaleAmount"].mean()
min_sales = sales["SaleAmount"].min()
max_sales = sales["SaleAmount"].max()

print("Average Sale Amount:", avg_sales)
print("Minimum Sale Amount:", min_sales)
print("Maximum Sale Amount:", max_sales)

Average Sale Amount: 1014.2692550000002
Minimum Sale Amount: 0.0
Maximum Sale Amount: 6619.2